<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="flex flex-1 w-full flex-col items-center justify-center text-center" style="padding-top:25px !important">
        <h1 class="mx-auto max-w-4xl font-display text-3xl font-bold tracking-normal text-white-300 dark:text-gray-300 sm:text-4xl" style="color:black; margin-bottom:10px !important">
                Thank you for your
                <span class="relative whitespace-nowrap text-cyan-500 dark:text-cyan-300">
                <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute top-2/3 left-0 h-[0.58em] w-full fill-cyan-500 dark:fill-cyan-300/60" preserveAspectRatio="none">
                    <path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.780 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.540-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.810 23.239-7.825 27.934-10.149 28.304-14.005 .417-4.348-3.529-6-16.878-7.066Z"></path>
                </svg>
                <span class="relative" style="font-family:Lilita One">Order</span>
            </span>
        </h1>
    </div>

<div class="mt-6 max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="md:shrink-0">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-lg font-semibold" style="color: #0CC0DF">
        Lickity Splitz 
      </div>
      <% @orders.each do |order| %>
        <% if !distance_of_time_in_words(DateTime.now,order.created_at).include?('day') %>
          <% if order.completed_order < 2 %>
            <i class="fas fa-circle-notch fa-spin text-4xl text-yellow-500 mb-4"></i>
            <h1><strong>Hang tight, we are working on your order <i class="fa fa-circle-o-notch fa-spin" style="font-size:20px; color:#0CC0DF"></i></strong></h1>
            <h3>It will be ready soon, please head towards <a href="https://www.google.com/maps/dir//231+Main+St,+Winchendon,+MA+01475/@42.6698047,-72.1603031,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89e15d89409df463:0x913e4cc313dee698!2m2!1d-72.0779019!2d42.669708!3e0?entry=ttu" style="text-decoration:underline">our location</a>.</h3>
          <% else %>
            <i class="fas fa-check text-4xl text-green-500 mb-4"></i>
            <h1><strong>Your order is done</strong></h1>
            <h3>You may come pick it up :I</h3>
          <% end %>
          <h1>Your Order ID is: <%= order.order_id %> </h1>

          <div style="margin-top:20px">
            <%= link_to root_path do %>
              <button class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded-full">
                <i class="fa fa-home"></i> Go Home
              </button>
            <% end %>
          </div>


        <% end %>
      <% end %>
      <div class="typing-container">
          <p class="block mt-0 text-lg leading-tight font-medium text-black hover:underline">
              <span style="font-weight: bold;" id="typing-text"></span>
          </p>
      </div>
    </div>
  </div>
</div>
